[Unit]
Description=Palworld Dedicated Server by Flamint
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=steam
Group=steam
ExecStartPre=/home/steam/Palworldscript/palworld-maintenance.sh
ExecStart=/home/steam/Steam/steamapps/common/PalServer/PalServer.sh -NoAsyncLoadingThread -UseMultithreadForDS
Restart=on-failure
RestartSec=10s
MemoryMax=21.8G

[Install]
WantedBy=multi-user.target
