[Unit]
Description=Palworld Dedicated Server by Flamint
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=steam
Group=steam
ExecStartPre=/home/steam/palworld-maintenance.sh
ExecStart=/home/steam/Steam/steamapps/common/PalServer/PalServer.sh -useperfthreads -NoAsyncLoadingThread>
Restart=on-failure
RestartSec=10s
MemoryMax=15.5G

[Install]
WantedBy=multi-user.target
